<div *ngIf="validToken">
  <router-outlet></router-outlet>
</div>
<div *ngIf="!validToken">
  <h1>Bem-vindos(as) ao Ensaia Fácil!</h1>
  <p>
    Lembramos que ao entrar no app você será redirecionado(a) para um login com
    o google, o qual será <strong>obrigatório</strong> para a utilização do app
    e suas funcionalidades
  </p>
  <p></p>
  <p>Para entrar, basta acessar pelo botão abaixo</p>
  <button class="rounded-full text-white bg-blue-600" (click)="enterApp()">
    Entrar com Google
  </button>
</div>
